@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "montserrat", sans-serif;
  --font-nunitoSans: "Nunito+Sans", sans-serif;
  
  --primary-color: #2948FF;
  --color-primary: var(--primary-color);
  --secondary-color: #4F5665;
  --color-secondary: var(--secondary-color);
  --text-tiny: 12px;
  --text-medium: 16px;
}